@model IEnumerable<MasterDataModel>

    @foreach(var item in Model){
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title"><a asp-action="Index" asp-controller="MasterData" asp-route-Slug="@item.Code">@item.Name</a></h4>
		</div>
	</div>
    }
